<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SWAPI</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="container">
    <h1>SWAPI</h1>

    <div id="app">
      <div class="row">
        <div class="jumbotron col-xs-offset-2 col-xs-8">
          <p>
            The people of starwars - this is unauthenticated
            <p v-if="response">{{ response.config }}</p>
          </p>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <td>Picture</td>
            <td>Name</td>
            <td>Gender</td>
            <td>Height</td>
            <td>Year Born</td>
        </thead>
        <tbody>
          <tr v-for="person in people">
            <td><img :src="person.image"></img></td>
            <td>{{ person.name }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ person.height }}</td>
            <td>{{ person.birth_year }}</td>
        </tbody>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
